@import "../../../styles.scss";
.dialog {
  &__title {
    text-align: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__form-field {
    margin: 10px 0;
  }
  &__footer {
    display: flex;
    justify-content: space-around;
  }
}
.button {
  @include button();
}
